extends layout 

block content
    .jumbotron
        h1 Welcome #{name}! 
        .myRow
            .column
                p Portfolio (#{port_val})
                    ul Stocks owned: 
                        for stock in owned_stocks
                            <li style="color:#{stock.color}"> #{stock.ticker} - #{stock.quantity} Shares</li>
                        else
                            li You don't have any stocks!
            .column
                p Cash - #{balance}
                form(name="buy_stock", method="post")
                    div.input
                        span.label Ticker
                        input(type="text",name="ticker")
                    div.input 
                        span.label Quantity
                        input(type="text",name="quantity")
                    div.actions
                        input(type="Submit")